.settings/
Debug/
bin/
.cproject
.classpath
.project
/Default/

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
/jefl/
/.apt_generated/
/.apt_generated_tests/
